html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  background: #eeeeee; 
  
  color: #333333;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

a {
  color: #0d181c;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  margin: 2rem 0 2rem 0;
}
.header-link {
  text-decoration: none;
}
.header-link:hover .header {
  transform: rotate(-3deg);
}
.header {
  transform: rotate(0deg);
  font-family: 'League Script', cursive;
  font-weight: normal;
  font-size: 10em;
  margin: 0.5em 0 1em;
  transition: 0.2s;
}


.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.nailpolish {
  text-decoration: none;
}
.nailpolish:nth-child(5n+2) {
  grid-row-end: span 3; 
}
.nailpolish:nth-child(6n) {
  grid-column-end: span 2;
}

.nailpolish__name {
  color: #fff;
  font-weight: normal;
  padding: 1em;
  margin: 0;  
}


/*
  Search
*/
.search {
  text-align: center;
  max-width: 500px;
  margin: 2rem auto;
}

.search form {
  display: flex;
}

.search form > * {
  flex: 1;
  background: #fff;
  border: 0;
  padding: 2rem;
  font-size: 2rem;
}

.search form > *[type="submit"] {
  flex-grow: 2;
  background: #e13e45;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.search form > *[type="text"] {
  flex-grow: 10;
}
/*
  Loader
*/
.loader {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
/*
  Single Beer / nail polish View
*/
.single-beer, .single-nail-polish {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.single-nail-polish__img {
  margin: 1em auto;
}

.single-nail-polish__description {
  text-align: left;
}
.single-nail-polish__tags {
  text-align: left;
}
.back-button, .tag {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  margin: 0 4px;
  text-decoration: none;  
}
.back-button {
  --color: #eeeeee;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #fff;
  border: 2px solid var(--color);
  background-color: var(--color); 
  /* omg css variables are so cool i take it all back */
}
.back-button.back-button:hover {
  background-color: #fff; 
  color:var(--color);
}

.tag {
  border: 1px solid #eeeeee;
  color: #ccc;
}
.tag:hover {
  background-color: #e13e45;
  border-color: #e13e45;
  color: #fff;
}

